<app-header3></app-header3>
<div class="container">
  <div class="pro">
    <div class="prode" style="width: 40%;">
      <div class="bio">
        <div class="avatar-upload">
          <div class="avatar-edit">
            <input
              type="file"
              id="imageUpload"
              accept=".png, .jpg, .jpeg"
              (change)="onFileSelected($event)"
            />
            <label for="imageUpload"></label>
          </div>
          <div class="avatar-preview">
            <div
            id="imagePreview"
            [style.background-image]="'url(' + imageUrl + ')'"
        ></div>
          </div>
        </div>
      </div>
      <div class="man">
        <textarea class="biode" placeholder="{{userprofile?.bio}}"  [(ngModel)]="bio">


        </textarea>
      </div>
    </div>
    <div class="input" style="width: 50%; ">
      <div class="allinput">
        <input type="email" placeholder="{{userprofile?.email}}" />
      <input type="name" placeholder="{{userprofile?.name}}" [(ngModel)]="name"/>
      <div class="pass">
        <input type="text" placeholder="Password" />
        <input type="text" placeholder="Confirm Password" />
      </div>
      <div style="width: 35vw; display: flex; justify-content: flex-end;">
        <button type="submit" (click)="updateprofile()">Update</button>
      </div>
      </div>


    </div>
  </div>
</div>
