.profile {
  width: 80px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  margin-top: 0.5rem;
  margin-bottom: auto;
  margin-left: 0.85rem;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.listbg {
  background-color: white;
  width: 90%;
  height: 8vh;
  border-radius: 40px;
}
.list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 2%;
}

.icon {
  cursor: pointer;
  font-size: 3rem;
  width: 20%;
  height: 100%;
}

.iconpng{
    cursor: pointer;
    width: 40%;
    height: 40%;
    margin-top: 2%;
}

.name {
  text-align: start;
  width: 100%;
  margin-left: 5%;
}

::-webkit-scrollbar {
  display: none;
}
