<app-header3></app-header3>
<div class="container" >
  <div class="detail" >

    <div class="m2">
      <div class="m1">
        <img [src]="imageleft!.url" alt="imageLeft" (click)="openWinnerDialog(imageleft!.imageID)">
      </div>
      <span>{{imageleft?.name}}</span>
    </div>

    <div class="or">
      <img src="../../../assets/or.svg" alt="">
    </div>
    <div class="m2">
      <div class="m1">
        <img [src]="imageRight!.url" alt="imageRight" (click)="openWinnerDialog(imageRight!.imageID)">
      </div>
      <span>{{imageRight!.name}}</span>
    </div>
  </div>
</div>
