.container {
  width: 95vw;
  margin: 0 auto;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5vh; /* เพิ่ม padding-top 5% ของความสูงหน้าจอ */
}

.detail {
  margin-top: 3vh;
  width: 90vw;
  background-color: rgba(255, 255, 255, 0.484);
  height: 75vh;
  border-radius: 2vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.m1 {
  border-radius: 60% 40% 70% 30% / 30% 30% 70% 70%;
  width: 35vw;
  height: 40vh;
  object-fit: cover;
  background-color: black;
  box-shadow: 0.3vw 0.6vw 0.5vw 0vw rgba(0, 0, 0, 0.418);
  margin-bottom: 2vh;
  cursor: pointer;
}

.or {
  margin: 0 5vw;
  filter: drop-shadow(1vw 0.7vw 1vw rgba(0, 0, 0, 0.418));
}

img {
  object-fit: cover;
  border-radius: 60% 40% 70% 30% / 30% 30% 70% 70%;
  width: 100%;
  height: 100%;
}

.m2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

span {
  font-size: 4.5vh;
  font-weight: 800;
  color: #fede29;
}

.spinner {
  position: absolute;
  width: 32vw;
  height: 32vw;
  background-image: url('../../../assets/spiner/spinner.gif');
  background-size: cover;
  border-radius: 50%;
  left: 50vw;
  top: 50vh;
  transform: translate(-50%, -50%);
}

/* Media Queries */

/* สำหรับหน้าจอขนาดเล็ก (มือถือ) */
@media (max-width: 767px) {
  .container {
    height: 100vh;
    padding-top: 5vh; /* เพิ่ม padding-top 10% ของความสูงหน้าจอบนมือถือ */
  }

  .detail {
    flex-direction: column;
    height: auto;
    margin-top: 2vh;
  }

  .m1 {
    width: 70vw;
    height: 30vh;
    margin-bottom: 3vh;
  }

  .or {
    margin: 3vh 0;
    font-size: 3vh;
    width: 10vw;
  }

  span {
    font-size: 5vh;
  }
}

/* สำหรับหน้าจอขนาดกลาง (แท็บเล็ต) */
@media (min-width: 768px) and (max-width: 1023px) {
  .container {
    padding-top: 8vh; /* เพิ่ม padding-top 8% ของความสูงหน้าจอบนแท็บเล็ต */
  }

  .detail {
    height: 60vh;
  }

  .m1 {
    width: 25vw;
    height: 25vh;
  }

  span {
    font-size: 3vh;
  }
}

/* สำหรับหน้าจอขนาดใหญ่ (คอมพิวเตอร์) */
@media (min-width: 1024px) {
  /* ไม่ต้องปรับค่าใดๆ เนื่องจากค่าเริ่มต้นเหมาะสมสำหรับหน้าจอขนาดใหญ่แล้ว */
}
