<app-header3></app-header3>
<div class="container">
  <div class="profile-container1">
    <div class="profile-container">
      <div class="back-button">
        <span class="material-symbols-outlined" (click)="goBack()" style="cursor: pointer;">
          <img src="../../../assets/arrow-left.svg" alt="">
        </span>
      </div>
      <div class="profile-image">
        <img src="{{userprofile?.image}}" alt="avatar" class="profileimg">
      </div>
      <div class="profile-details">
        <div class="name-field">
          <h1>{{userprofile?.name}}</h1>
        </div>
        <div class="bio-container">
          <h3 class="descibe">{{userprofile?.bio}}</h3>
        </div>
      </div>
    </div>
    <div class="image-grid">
      <div *ngFor="let userImage of userImages" class="image-container">
        <img class="uploadimage" src="{{userImage.url}}" alt="picupload">
        <div class="image-details">
          <p>{{userImage.name}}</p>
          <p>{{userImage.score}} px</p>
        </div>
      </div>
    </div>
  </div>


</div>
