<div class="container">
  <div class="nav">
    <div class="LO">
      <li class="nav1" routerLink=""><a>Home</a></li>
      <li class="nav1" routerLink=""><a>Mash</a></li>
      <li class="nav1" routerLink=""><a>Rank</a></li>
      <li class="nav1" routerLink=""><img src="../../../assets/Puppy/happy.png" alt="" /></li>
      <li class="nav1" routerLink=""><a>Graph</a></li>
      <li class="nav1" routerLink=""><a>Upload</a></li>
      <li class="nav1" routerLink=""><a>Log Out</a></li>
    </div>
    <div class="action">
      <div class="profile" (click)="toggleMenu()">
        <img src="" alt="" />

      </div>
      <div class="menu" [ngClass]="{ 'active': isMenuActive }">
        <h3>PUPPY <br> <span>Profile</span></h3>
        <ul style="display: flex; flex-direction: column; justify-content: flex-start;width: -40px;">
          <li routerLink="/profilem" style="cursor: pointer;"><img src="../../../assets/user (1).png"
              alt="" /><span>PhusitRubun</span></li>
          <li><img src="../../../assets/email.png" alt="" /><span>Phusit&commat;gmail.com</span></li>
        </ul>
      </div>
    </div>
  </div>
