<div>
    <div style="display: flex; flex-direction: row; justify-content: center;">
        <img src="../../../../assets/crown/Group 87.svg" alt="crown" width="50" style="margin-right: 1rem;">
        <h1>Winner is {{data.imageID}}</h1>
    </div>
    <div>
        <div style="margin-left: auto; margin-right: auto;">
            <h1>Elo Rating</h1>
            <div>
                <h2>คำนวณคะแนนของแต่ละ player</h2>
                <div style="display: grid; place-items: center;">
                    <img src="../../../../assets/elo1.png" alt="elo1" width="50%" >
                </div>
                <h1></h1>
            </div>
            <div>
                <h2>คำนวณคะแนนใหม่ของแต่ละ player</h2>
                <div style="display: grid; place-items: center;">
                    <img src="../../../../assets/ra1.png" alt="ra" width="20%">
                </div>
            </div>
        </div>
    </div>
</div>