.container {
  border: solid red 1px;
  width: 95%;
  margin: 0 auto;
  height: 90vh;
  // background-color: #fede29;
}
.detail {
  margin-top: 30px;
  border: solid black 1px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.484);
  height: 750px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.deta1 {
  display: flex;
  width: 90%;
  justify-content: space-between;
}
.deta {
  margin-top: 30px;
  display: flex;
  width: 60%;
  justify-content: space-between;
}
input {
  background-color: #fede29;
  font-size: 20px;
  outline: none;
  border: none;
  width: 200px;
  height: 50px;
  border-radius: 50px;
  text-indent: 30px;
  border: solid;
  box-shadow: 3px 6px 5px 0px rgba(0, 0, 0, 0.418);
}
::placeholder {
  color: white;
}
.img {
  display: flex;
  flex-direction: column;
  align-items: center;
}
button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 60px;
  border-radius: 50px;
  background: none;
  border: none;
  border: solid #fede29 4px;
  color: #fede29;
  font-weight: 800;
  font-size: 30px;
  transition: 0.3s;
  cursor: pointer;
}
button:hover{
  background-color: white;
}
