<app-header3></app-header3>
<div class="container">
  <div class="detail">
    <div class="deta1">
      <div class="img">
        <img src="../../assets/Vector 48.png" alt="" />
        <input type="text" placeholder="Name" />
      </div>
      <div class="img">
        <img src="../../assets/Vector 48.png" alt="" />
        <input type="text" placeholder="Name" />
      </div>
      <div class="img">
        <img src="../../assets/Vector 48.png" alt="" />
        <input type="text" placeholder="Name" />
      </div>
    </div>
    <div class="deta">
      <div class="img">
        <img src="../../assets/Vector 48.png" alt="" />
        <input type="text" placeholder="Name" />
      </div>
      <div class="img">
        <img src="../../assets/Vector 48.png" alt="" />
        <input type="text" placeholder="Name" />
      </div>
    </div>
    <button>Upload Image</button>
  </div>
</div>

