<app-header3></app-header3>
<div class="container" *ngIf="userId; else forguest" >
  <div>
    <div class="detail" style="border: solid; width: 1200px; height: 80vh; display: flex; justify-content: center; align-items: center; flex-wrap: wrap;">
      <div class="img" *ngFor="let imageUrl of imageUrls;let i = index">
        <div class="preview">
          <span (click)="deleteImage(imageUrl)"><i class="fa-solid fa-trash" style="color: white;"></i></span>
          <img [src]="imageUrl" alt="Preview Image">
        </div>
        <input  type="text" placeholder="Name" #name />
        <!-- <button *ngIf="showUploadButton" class="confirm" (click)="uploadImage(i)">Upload Image {{i}}</button> -->
        <button *ngIf="showUploadButton[i]" class="confirm" (click)="uploadImage(i,name)">Upload Image</button>
      </div>
      
      <!-- Show images from 'this.keep' -->
      <mat-progress-spinner *ngIf="uploading" diameter="30" mode="indeterminate"></mat-progress-spinner>
      <div class="img" *ngFor="let image of keep; let i = index">
        <div class="preview">
          <span (click)="deleteImage(this.keep[i].url)"><i class="fa-solid fa-trash" style="color: white;"></i></span>
          <img [src]="this.keep[i].url" alt="Preview Image">
        </div>
        <input type="text" placeholder="Name" [(ngModel)]="this.keep[i].name" />
        <button class="confirm" disabled>Save edit</button>
      </div>
    </div>

    <!-- <div class="detail" style="border: solid; width: 1200px; height: 80vh; display: flex; justify-content: center; align-items: center; flex-wrap: wrap;">
      <div class="img" *ngFor="let imageUrl of imagekeep">
        <div class="preview">
          <span (click)="deleteImage(imageUrl)"><i class="fa-solid fa-trash" style="color: white;"></i></span>
          <img src="{{imageUrl.url}}" alt="Preview Image">
        </div>
        <input  type="text" placeholder="Name" #name />
        <button *ngIf="showUploadButton" class="confirm" (click)="uploadImage(i)">Upload Image {{i}}</button>
        <button *ngIf="showUploadButton[i]" class="confirm" (click)="uploadImage(i,name)">Upload Image</button>
      </div>
    </div> -->
  
  </div >
  <input type="file" accept="image/*" #fileInput hidden (change)="previewImages($event)">
  <!-- <p>{{this.imagekeep.length}}</p>    -->
  <button class="button" *ngIf="this.imagekeep.length< 5;" (click)="fileInput.click()">Upload Image</button>


</div>

<ng-template #forguest >
  <div style="display: flex; justify-content: center; align-items: center; height: 80vh;">
    <div>
      <h1 style="text-align: center;">Please login to upload</h1>
      <button class="button" [routerLink]="['/login']">Login</button>
      <div style="display: flex; flex-direction: row;">
          <h3>If you don't have an account, </h3>
          <h3 style="margin-left: 1rem;"><a routerLink="/signup">click here</a></h3>
      </div>
    </div>
  </div>
  
</ng-template>
